@import url("base.css");


.s-content {
    background-color: white;
    padding-top: 4rem;
    padding-bottom: 7.2rem;
 }
 
 .s-content--no-padding-bottom {
    padding-bottom: 0;
 }
 
 .s-content--narrow .row {
    max-width: 960px;
 }
 
 .s-content__header {
   font-family: serif;
    padding-bottom: 3rem;
    text-align: center;
 }
 
 .s-content__header h1 {
    line-height: 1.25;
    margin-top: 0;
    letter-spacing: -.15rem;
 }
 
 .s-content__header .lead {
    color: rgba(0, 0, 0, 0.5);
 }

 .s-content__header-title {
   font-size: 4.2rem;
   line-height: 1.214;
   margin-bottom: .9rem;
}

.s-content__header-meta {
   list-style: none;
   margin-left: 0;
   margin-bottom: 1.2rem;
   font-size: 1.5rem;
   line-height: 1.8;
   position: relative;
}

.s-content__header-meta li {
   display: inline-block;
   padding-left: 0;
   margin: 0 1rem;
}

.s-content__header-meta span, .s-content__header-meta a {
   color: #000000;
}

.s-content__header-meta .cat a::after {
   content: ",";
}

.s-content__header-meta .cat a:last-child::after {
   content: none;
}